.demo-problem, .demo-solution {
    font-size: 1em;
}

.text {
    margin:4px;
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #535374;
}
.text span{
    padding-left: 12px;
}

.subtext {
    margin-left:40px;
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #999999;
}

.text img {
    color: #535374;
    opacity: 0.5;
}

