.logoSignUp{
    width: 152px;
    height: 32px;
    margin: 0 auto 0;
    padding-top: 32px;
    padding-bottom: 80px;
}

.formSignUp{
    background: #FFFFFF;
    margin: 0 auto 0;
    padding: 16px;
    width: 24em;
    height: 88vh;
    border-radius: 2px;
}

div.formSignUp span{
    margin-left: 8px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #404064;
}
