.logoFormIn {
    width: 152px;
    height: 32px;
    margin: 0 auto 0;
    padding-top: 32px;
    padding-bottom: 80px;
}

.formSignUp {
    background: #FFFFFF;
    margin: 0 auto 0;
    padding: 16px;
    width: 24em;
    height: 88vh;
    border-radius: 2px;
}

.errorServer {
    background: #FFE9DB;
    margin: 100px -16px 0;
    padding: 0;
    width: 24em;
    height: auto;
    border-radius: 2px;
}

.errorServer div.mess {
    padding-top: 24px;
    padding-bottom: 24px;
    vertical-align: center;
    text-align: center;
}

.errorServer img {
    margin-right: 5px;
    vertical-align: middle;
}

.errorServer span {
    vertical-align: middle;
}
