/* Ensure proper sizing */
* {
    box-sizing: border-box;
}

/* Column container */
.row {
    display: flex;
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 30%; /* Set the width of the sidebar */
    background-color: #f1f1f1; /* Grey background color */
    padding: 20px; /* Some padding */
}

/* Main column */
.main {
    flex: 100%; /* Set the width of the main content */
    background-color: white; /* White background color */
    height: 100%;
    padding: 20px; /* Some padding */
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}

.footer {
    padding: 8px; /* Some padding */
    text-align: center; /* Center text*/
    background: #ddd; /* Grey background */
}

.paper {
    padding: 24px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.row {
    margin-top: 12px;
}

.buttonSave{
    width: 32px;
    padding: 8px;
    /*background: dodgerblue;*/
    /*color: white;*/
    min-width: 32px;
    text-align: center;
}

h3 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: #999999;
}

.titleName span{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    display: flex;
    align-items: center;

    color: #6879BB;
}

.buttonDetails a{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    /*display: flex;*/
    align-items: center;
    text-decoration: none;
    opacity: 0.5;
    color: #6879BB;
}


.dates span.sub{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    /*display: flex;*/
    /*align-items: center;*/

    color: #999999;
}

.dates span.dat{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    /*display: flex;*/
    /*align-items: center;*/

    color: #333333;
}

/* Solid border */
hr.solid {
    margin-left: -15px;
    margin-right: 9px;
    border: 1px solid #D6DCE9;
}
