.textFieldWrapper {
    display: grid;
    margin: 8px 8px 16px;
}

.textField {
    display: flex;
    width: 100%;
    margin-bottom: 4px;
    border: 1px solid #D6DCE9;
    border-radius: 4px;
    box-sizing: border-box;
}

.textField.er{
    border: 1px solid #EE4141
}

.textField:hover {
    border: 1px solid #415FD5;
}

input.text {
    width: 100%;
    padding: 10px;
    outline: none;
    text-align: left;
    color: #6879BB;
    height: 36px;
    font-family: Open Sans, serif;
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    background: #FFFFFF;
    border: none;
    border-radius: 4px;
    font-weight: normal;
    display: flex;
    align-items: center;
}


input.text::placeholder {
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #CCCCCC;
}

input.text {
    outline: 0 !important;
}

input.text:hover {

}


input.text:disabled{
    color: #333333;
    border: none;
    background: #F5F5F5;
    opacity: 0.5;
}

.helperText{
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #EE4141;
}

.icon{
    width: 32px;
    padding: 8px;
    margin: auto;
    min-width: 32px;
}

